@{
    ViewBag.Title = "Home Page";
}

<div class="row pt-2 pb-2">
    <div class="col-sm-9">
        <h4 class="page-title">
            @*Başlık*@ Marka, Model, Renk Ve Telefon Yönetimi
        </h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                @*Detay*@ Memleket Yazılım Örnek Projesidir. Özelleştirilebilir.
            </li>
        </ol>
    </div>
    <div class="col-sm-3">
    </div>
</div>

